@import "../../vars.css";
@import "../../styles.css";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--padding-30);
}

h1 {
  font-size: var(--font-h1-lg);
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, auto);
  padding: var(--margin-20) var(--margin-100);
  column-gap: var(--gap-50);
  row-gap: var(--gap-30);
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: var(--gap-4);
}

.contactPreference-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: var(--margin-20);
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--margin-20);
  width: auto;
  gap: var(--gap-10);
}
.checkbox-container > div {
  display: flex;
  flex-direction: row;
}

@media (max-width: 480px) {
  h1 {
    font-size: var(--font-h1-sm);
  }
  .form-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-30);
    padding: 0 var(--padding-200) 0 var(--padding-200);
    margin-bottom: var(--margin-20);
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .checkbox-container {
    display: inline-block;
    align-items: center;
    margin: var(--margin-20);
    width: auto;
  }
}

@media (min-width: 480px) and (max-width: 960px) {
  h1 {
    font-size: var(--font-h1-md);
  }
  .form-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-30);
    padding: 0 var(--padding-200) 0 var(--padding-200);
    margin-bottom: var(--margin-20);
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .checkbox-container {
    display: inline-block;
    align-items: center;
    margin: var(--margin-20);
    width: auto;
  }
}
