@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colors */
  --color-base: #f1fefe;
  --color-primary: #072155;
  --color-secondary: #03137d;
  --color-accent: #4280c2;
  --color-disabled: #a2a7a7;
  --color-card: #daecfe;

  /* font families*/
  --font-Poppins: "Poppins", sans-serif;
  --font-Fraunces: "Fraunces", serif;

  /* font sizes*/
  --font-h1-sm: 1.5rem;
  --font-h1-md: 3rem;
  --font-h1-lg: 4rem;
  --font-h2-sm: 1.5rem;
  --font-h2-md: 3rem;
  --font-h2-lg: 4rem;
  --font-label-sm: 0.75rem;
  --font-label-md: 1rem;
  --font-label-lg: 1.25rem;
  --font-button-sm: 0.5rem;
  --font-button-md: 0.75rem;
  --font-button-lg: 1rem;
  --fonts-service-title-sm: 1rem;
  --fonts-service-title-md: 1.5rem;
  --fonts-service-title-lg: 2rem;
  --font-p-sm: 0.75rem;
  --font-p-md: 1rem;
  --font-p-lg: 1.5rem;

  /* font weights*/
  --font-weight-bold: bold;
  --font-weight-medium: medium;
  --font-weight-500: 500;
  --font-weight-normal: normal;
  --font-weight-ligth: 300;

  /* borders */
  --border-radius: 62.5rem;
  --border-radius-input: 0.5rem;

  /* letter-spacings */
  --letter-spacing-05: 0.03125rem;

  /* nav */
  --font-nav-sm: 0.75rem;
  --font-nav-md: 1rem;
  --font-nav-lg: 1.25rem;
  --line-height-nav-sm: 1.5rem;
  --line-height-nav-md: 1.75rem;
  --line-height-nav-lg: 1.875rem;

  /* footer */
  --font-footer-sm: 0.875rem;
  --font-footer-md: 1.25rem;
  --font-footer-lg: 1.5rem;
  --line-height-footer-sm: 1rem;
  --line-height-footer-md: 1.25rem;
  --line-height-footer-lg: 1.5rem;

  /* paddings */
  --padding-6: 0.375rem;
  --padding-4: 0.25rem;
  --padding-8: 0.5rem;
  --padding-10: 0.625rem;
  --padding-12: 0.75rem;
  --padding-14: 0.875rem;
  --padding-20: 1.25rem;
  --padding-24: 1.5rem;
  --padding-30: 1.875rem;
  --padding-32: 2rem;
  --padding-40: 2.5rem;
  --padding-24: 1.5rem;
  --padding-36: 2.25rem;
  --padding-48: 3rem;
  --padding-50: 3.125rem;
  --padding-60: 3.75rem;
  --padding-100: 6.25rem;
  --padding-200: 10rem;

  /* margins */
  --margin-2: 0.125rem;
  --margin-4: 0.25rem;
  --margin-6: 0.375rem;
  --margin-8: 0.5rem;
  --margin-10: 0.625rem;
  --margin-12: 0.75rem;
  --margin-14: 0.875rem;
  --margin-20: 1.25rem;
  --margin-23: 1.4375rem;
  --margin-24: 1.5rem;
  --margin-30: 1.875rem;
  --margin-32: 2rem;
  --margin-38: 2.375rem;
  --margin-40: 2.5rem;
  --margin-48: 3rem;
  --margin-50: 3.125rem;
  --margin-60: 3.75rem;
  --margin-79: 4.9375rem;
  --margin-100: 6.25rem;
  --margin-200: 12.5rem;

  /* gaps */
  --gap-4: 0.25rem;
  --gap-10: 0.625rem;
  --gap-20: 1.25rem;
  --gap-30: 1.875rem;
  --gap-50: 3.125rem;

  /* alignments */
  --align-home: center;
  --align-about: center;
  --align-form-h1-sm: center;
  --align-form-inputs-sm: flex-start;
  --align-form-inputs-md: center;
  --align-form-inputs-lg: flex-start;
  --align-form-checkbox: center;
  --align-form-button: center;

  /* justifies */
  --justify-home: center;
  --justify-about: center;
  --justify-form-h1: center;
  --justify-form-inputs-sm: center;
  --justify-form-inputs-md: center;
  --justify-form-inputs-lg: left;
  --justify-form-checkbox: center;
  --justify-form-button: center;

  /* logo */
  --width-20: 1.25rem;
  --width-23: 1.4375rem;
}
