@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-base: #f1fefe;
  --color-primary: #072155;
  --color-secondary: #03137d;
  --color-accent: #4280c2;
  --color-disabled: #a2a7a7;

  --font-Poppins: "Poppins", sans-serif;
  --font-Fraunces: "Fraunces", serif;

  --fonts-h1-s: 4rem;
  --fonts-h1-md: 6rem;
  --font-h1-lg: 8rem;

  --fonts-h2-s: 2rem;
  --fonts-h2-md: 3rem;
  --font-h2-lg: 3rem;

  --fonts-h3-s: 1rem;
  --fonts-h3-md: 1.5rem;
  --font-h3-lg: 1.5rem;

  --font-p-s: 1rem;
  --font-p-md: 1rem;
  --font-p-lg: 1.5rem;

  --font-weight-h1: bold;
  --font-weight-h2: medium;
  --font-weight-h3: normal;
  --font-weight-p: 300;
  --font-weight-label: medium;

  --font-label-s: 1.25rem;
  --font-label-md: 1rem;
  --font-label-lg: 1.25rem;

  --input-sm-y: 0.25rem;
  --input-sm-x: 0.5rem;
  --input-md-y: 0.375rem;
  --input-md-x: 0.625rem;
  --input-lg-y: 0.5rem;
  --input-lg-x: 0.875rem;
  --gap-checkbox: 0.625rem;

  --font-button-s: 0.875rem;
  --font-button-md: 1rem;
  --font-button-lg: 1.25rem;
  --button-sm-x: 1.5rem;
  --button-sm-y: 0.5rem;
  --button-md-x: 2rem;
  --button-md-y: 0.5rem;
  --button-lg-x: 3rem;
  --button-lg-y: 0.75rem;
  --border-radius: 62.5rem;

  --font-nav: "Poppins", sans-serif;
  --font-weight-nav: medium;
  --letter-spacing-nav: 0.03125rem;
  --font-nav-sm: 0.75rem;
  --font-nav-md: 1rem;
  --font-nav-lg: 1.25rem;
  --nav-gap: 0.625rem;
  --line-height-nav-sm: 1.5rem;
  --line-height-nav-md: 1.75rem;
  --line-height-nav-lg: 1.875rem;
  --nav-left: 0.625rem;
  --nav-right-sm: 0.5rem;
  --nav-right-md: 0.5rem;
  --nav-right-lg: 0.5rem;
  --nav-top-lg: 0.25rem;
  --nav-bottom-lg: 0.125rem;

  --font-footer: "Poppins", sans-serif;
  --font-weight-footer: medium;
  --letter-spacing-footer: 0.03125rem;
  --font-footer-sm: 0.875rem;
  --font-footer-md: 1.25rem;
  --font-footer-lg: 1.5rem;
  --line-height-footer-sm: 1rem;
  --line-height-footer-md: 1.25rem;
  --line-height-footer-lg: 1.5rem;
  --padding-footer: 0.625rem;

  --card-img-padding-x-sm: 1.875rem;
  --card-img-padding-x-md: 2.5rem;
  --card-img-padding-x-lg: 3.125rem;
  --card-footer-padding-y-sm: 1.875rem;
  --card-footer-padding-y-md: 1.875rem;
  --card-footer-padding-y-lg: 1.875rem;
  --card-font-family: "Poppins", sans-serif;
  --card-font-weight: normal;
  --card-font-size-sm: 1.5rem;
  --card-font-size-md: 2rem;
  --card-font-size-lg: 2.25rem;

  --margin-hero-home-sm: 0.625rem;
  --hero-gap-sm: 0.625rem;
  --margin-services-home-sm: 1.25rem;
  --gap-services-home-sm: 1.25rem;

  --margin-hero-home-md: 1.5rem;
  --hero-gap-md: 1.25rem;
  --margin-services-home-md: 1.5rem;
  --gap-services-home-md: 1.5rem;

  --margin-hero-home-lg-x: 2.5rem;
  --margin-hero-home-lg-y: 0.625rem;
  --hero-gap-lg: 0.625rem;
  --margin-services-home-lg-x: 2.5rem;
  --margin-services-home-lg-y: 1.25rem;
  --gap-services-home-md: 1.875rem;

  --margin-h2-about-sm-top: 1.25rem;
  --margin-p-about-sm: 0.625rem;
  --margin-img-about-sm: 1.25rem;

  --margin-h2-about-md-top: 2.5rem;
  --margin-p-about-md: 1.25rem;
  --margin-img-about-y: 1.875rem;
  --margin-img-about-x: 3.125rem;

  --margin-h2-about-lg-top: 0.625rem;
  --margin-p-about-lg: 1.25rem;
  --margin-img-about-lg-y: 0.625rem;
  --margin-img-about-lg-x: 3.75rem;

  --margin-h1-form-sm-y: 1.875rem;
  --gap-form-form-sm: 2.5rem;
  --margin-form-form-sm-bottom: 4.9375rem;
  --margin-botton-form-sm-bottom: 1.25rem;

  --margin-h1-form-md-y: 1.25rem;
  --gap-form-form-md: 1.875rem;
  --margin-form-form-md-x: 12.5rem;
  --margin-form-form-md-bottom: 2.375rem;
  --margin-botton-form-md-bottom: 1.25rem;

  --margin-h1-form-lg-y: 1.25rem;
  --gap-form-form-lg: 3.125rem;
  --margin-form-form-lg-y: 1.25rem;
  --margin-form-form-lg-x: 6.25rem;
  --margin-form-checkbox-lg-bottom: 0.875rem;
  --margin-form-lg-bottom: 1.4375rem;

  --align-home: center;
  --align-about: center;
  --align-form-h1-sm: center;
  --align-form-inputs-sm: flex-start;
  --align-form-inputs-md: center;
  --align-form-inputs-lg: flex-start;
  --align-form-checkbox: center;
  --align-form-button: center;

  --justify-home: center;
  --justify-about: center;
  --justify-form-h1: center;
  --justify-form-inputs-sm: center;
  --justify-form-inputs-md: center;
  --justify-form-inputs-lg: left;
  --justify-form-checkbox: center;
  --justify-form-button: center;
}
