@import "../../vars.css";
@import "../../styles.css";

section img {
}

h2 {
  font-size: var(--fonts-h2-lg);
  font-family: var(--font-Fraunces);
  font-weight: var(--font-weight-regular);
}
p {
  font-size: var(--font-p-lg);
  font-family: var(--font-Poppins);
  font-weight: var(--font-weight-ligth);
}

@media (max-width: 480px) {
  h2 {
    font-size: var(--font-h2-sm);
  }
  p {
    font-size: var(--font-p-sm);
  }
}

@media (min-width: 480px) and (max-width: 960px) {
  h2 {
    font-size: var(--font-h2-md);
  }
  p {
    font-size: var(--font-p-md);
  }
}
